@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.navbar-nav {
    font-size: 18px;
}
/*buttons*/
.btn:hover{
    transform: scale(1.1);
}
/* Home section */
#home{
    font-family: 'Poppins', sans-serif;
    height: 120vh;
    background-color: #cfe0e8;
}
/*.social-links{
    display: flex;
}
.social-links a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #80ced6;
    color: #034f84;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.social-links a:hover{
    background: #cfe0e8;
}
/*@media (max-width:992px){
    .social-links{
        margin-top: 2rem;

    }
}*/

/*About section*/
#about{
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    max-height: 200vh;
    background-color: #cfe0e8;
}

/* skills and progress bar*/
#skills{
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    max-height: 200vh;
    background-color: #cfe0e8;
}
.progress{
    height: 30px;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.progress-bar{
    color: #034f84;
    background-color: #80ced6;
}
.progress:hover{
    transform: scale(1.1)
}

/* Project/Card */
#project{
    font-family: 'Poppins', sans-serif;
    padding: 5rem 0 20rem;
    max-height: 300vh;
    background-color: #cfe0e8;
}
.card{
    transition: all 0.5s ease;
}
.card img{
    height: 100px;
    width: 100px;
    margin: auto;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px #034f84;
}
/* Contact page */
#contact{
    font-family: 'Poppins', sans-serif;
    padding: 4.2rem;
    max-height: 100vh;
    background-color: #cfe0e8;
}
